@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(5, 7, 76);
  --hover-color: #e3ac00;
  --section-background: #fffaf6;
  --p-color: #666;
  --margin: 40px 0;
  --transtion: 0.5s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 70px 0;
  margin: 0 35px;
}

:focus {
  outline: none;
}

p {
  line-height: 1.6;
  text-transform: capitalize;
}

::placeholder {
  font-size: 14px;
}

.header {
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}


.header h1 {
  color: var(--text-color);
  position: relative;
  margin: 0;
  text-transform: capitalize;
}

.header i {
  color: var(--text-color);
  font-size: 30px;
  position: relative;
  bottom: 8px;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.loader .load {
  width: 12px;
  background: linear-gradient(45deg, #9595ff, #4ec5e3);
  animation: loaded 1s linear infinite;
  -webkit-animation: loaded 1s linear infinite;
}

.loader span.load:nth-child(1) {
  animation-delay: 0.9s;
}

.loader span.load:nth-child(2) {
  animation-delay: 0.7s;
}

.loader span.load:nth-child(3) {
  animation-delay: 0.5s;
}

.loader span.load:nth-child(4) {
  animation-delay: 0.2s;
}

.loader span.load:nth-child(5) {
  animation-delay: 0.1s;
}

@keyframes loaded {
  0% {
    height: 0px;
  }

  50% {
    height: 100px;
  }

  100% {
    height: 50px;
  }
}

/* Loader */
/* Scroll Btn */
.scrollup {
  position: fixed;
  bottom: 40px;
  right: -8px;
  padding: 7px 4px;
  line-height: 8px;
  background: linear-gradient(50deg, #9595ff, #4ec5e3);
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
  opacity: 0;
}

.scrollup.active {
  animation: buin 1s 3 linear;
  -webkit-animation: buin 1s 3 linear;
  opacity: 1;
  right: 8px;
}

@keyframes buin {

  10%,
  20%,
  30%,
  40%,
  80% {
    transform: translatey(12px);
    -webkit-transform: translatey(12px);
    -moz-transform: translatey(12px);
    -ms-transform: translatey(12px);
    -o-transform: translatey(12px);
  }

  60%,
  70%,
  90%,
  100%,
  50% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    -o-transform: translatey(0px);
  }
}



/* Scroll Btn */

/* Start Landing */
.landing {
  height: 100vh;
  width: 100%;
  background-color: var(--section-background);
  position: relative;
}

.landing nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 93%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 1000;
}

.landing nav::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
}

.landing nav .logo h2 {
  color: var(--text-color);
}

.landing nav .nav-btn {
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

.landing nav ul.navmenu {
  display: flex;
  align-items: center;
  gap: 20px;
}


.landing nav ul.navmenu .social-icons {
  display: none;
}

.landing nav ul.navmenu li a {
  position: relative;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
  display: inline-block;
}

.landing nav ul.navmenu li a.active,
.landing nav ul.navmenu li a:hover {
  color: var(--hover-color);
}

.landing nav .sign-tbn a {
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;
  color: var(--text-color);
}

.landing nav .sign-tbn a:hover {
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}

.landing nav .sign-tbn a:hover i {
  animation: leftaright 1s infinite linear;
  -webkit-animation: leftaright 1s infinite linear;

}

@keyframes leftaright {

  10%,
  20%,
  30%,
  40%,
  80% {
    color: var(--hover-color);
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }

  60%,
  70%,
  90%,
  100%,
  50% {
    color: var(--text-color);
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

.landing .wrapper {
  width: 93%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  height: calc(100vh - 80px);
}

.landing .wrapper .social-icons {
  width: 50px;
}

.landing .wrapper .social-icons ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  top: 80%;
}

.landing .wrapper .social-icons ul li {
  width: 25px;
  height: 25px;
  background-color: var(--text-color);
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}

.landing .wrapper .social-icons ul li:hover {
  background-color: var(--hover-color);
}

.landing .wrapper .social-icons ul li a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
}

.landing .wrapper .text-side {
  width: 400px;
  margin-left: 40px;
  position: relative;
}

.landing .text-side img {
  position: relative;
  rotate: -20deg;
  opacity: 0.5;
  width: 60px;
}

.landing .text-side img:nth-child(2) {
  left: 200px;
  top: 300px;
}

.landing .text-side img:nth-child(1) {
  left: 600px;
  top: 10px;
}

.landing .text-side img:nth-child(3) {
  right: 130px;
  top: 0px;
  width: 40px;
}

.landing .text-side img:nth-child(4) {
  left: 500px;
  top: 350px;
  width: 50px;
}




.landing .wrapper .text-side h1 {
  color: var(--text-color);
  font-size: 40px;
  margin-bottom: 12px;
  text-transform: uppercase;
  line-height: 1.3;
}

.landing .wrapper .text-side h1 span {
  -webkit-text-fill-color: var(--section-background);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-color);
}

.landing .wrapper .text-side p {
  color: var(--p-color);
}

.landing .wrapper .text-side a {
  margin-top: 40px;
  display: inline-block;
  color: var(--text-color);
  padding: 10px 20px;
  background-color: var(--hover-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}

.landing .wrapper .text-side a:hover {
  background-color: var(--text-color);
  color: var(--hover-color);
}

.landing .wrapper .imgs-side {
  width: calc(100% - (50px + 400px));
  display: flex;
  margin-top: 80px;
  justify-content: center;
  gap: 50px;
}

.landing .wrapper .imgs-side .img-frame:nth-child(1) {
  width: 200px;
  height: 250px;
  border: 1px dashed var(--hover-color);
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.landing .wrapper .imgs-side .img-frame:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.landing .wrapper .imgs-side .img-frame:nth-child(2) {
  width: 150px;
  height: 200px;
  border: 1px dashed #4ec5e3;
  padding: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  rotate: -15deg;
}

.landing .wrapper .imgs-side .img-frame:nth-child(2) img {
  width: 120%;
  height: 100%;
  rotate: 15deg;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (max-width: 1000px) {
  .landing {
    overflow: hidden;
  }

  .landing nav .nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }

  .landing nav .nav-btn .btn-line {
    width: 80%;
    height: 2px;
    background: var(--text-color);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  .landing nav .nav-btn:hover .btn-line:nth-child(1) {
    width: 90%;
  }

  .change .btn-line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    -moz-transform: rotate(-45deg) translate(-5px, 5px);
    -ms-transform: rotate(-45deg) translate(-5px, 5px);
    -o-transform: rotate(-45deg) translate(-5px, 5px);
  }

  .change .btn-line:nth-child(2) {
    opacity: 0;
  }

  .landing nav .nav-btn:hover .btn-line:nth-child(2) {
    width: 50%;
  }


  .change .btn-line:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -9px);
    -webkit-transform: rotate(45deg) translate(-9px, -9px);
    -moz-transform: rotate(45deg) translate(-9px, -9px);
    -ms-transform: rotate(45deg) translate(-9px, -9px);
    -o-transform: rotate(45deg) translate(-9px, -9px);
  }

  .landing nav .nav-btn:hover .btn-line:nth-child(3) {
    width: 108%;
  }

  .landing nav .sign-tbn {
    display: none;
  }

  .landing nav ul.navmenu {
    width: 100%;
    min-height: 40vh;
    z-index: -1000;
    position: absolute;
    left: -150%;
    top: 55px;
    background-color: var(--section-background);
    transition: all 0.5s ease;
    flex-direction: column;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0 15px;
  }

  .landing nav ul.navmenu.open {
    left: 0;
  }

  .landing nav ul.navmenu .sign-tbn {
    display: block;
  }

  .landing .wrapper {
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }

  .landing .wrapper .text-side {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .landing .wrapper .social-icons {
    display: none;
  }

  .landing .wrapper .imgs-side {
    display: none;
  }

  .landing .wrapper .imgs-side .img-frame:nth-child(1) {
    width: 200px;
    height: 180px;
    border: 1px dashed var(--hover-color);
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .landing .wrapper .imgs-side .img-frame:nth-child(1) img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .landing .wrapper .imgs-side .img-frame:nth-child(2) {
    width: 160px;
    height: 140px;
    border: 1px dashed rgb(78, 197, 227);
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    rotate: -15deg;
  }

  .landing .wrapper .imgs-side .img-frame:nth-child(2) img {
    width: 100%;
    height: 100%;
    rotate: 15deg;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .landing .text-side img:nth-child(2) {
    left: 40%;
    top: 10%;
    width: 30px;
  }

  .landing .text-side img:nth-child(1) {
    left: -150px;
    top: 80%;
    width: 30px;
  }

  .landing .text-side img:nth-child(3) {

    display: none;
  }

  .landing .text-side img:nth-child(4) {

    display: none;
  }
}

/* End Landing */
/* Start Services */
.services {
  background-color: var(--section-background);
}

.services .container .boxes {
  margin: var(--margin);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.services .container .boxes .box {
  height: 250px;
  background-color: #fff;
  text-align: center;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.services .container .boxes .box .icon {
  position: absolute;
  left: 50%;
  bottom: 80%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
}

.services .container .boxes .box .icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}


.services .container .boxes .box:nth-child(1) {
  background-color: rgba(227 172 0 / 20%);
}


.services .container .boxes .box:nth-child(2) {
  background-color: rgba(255 153 128 / 20%);
}

.services .container .boxes .box:nth-child(3) {
  background-color: rgba(78 197 227 / 20%);
}

.services .container .boxes .box:nth-child(4) {
  background-color: rgba(149 149 255 / 20%);
}


.services .container .boxes .box .text {
  margin-top: 80px;
}

.services .container .boxes .box .text h3 {
  margin: 0 0 15px;
}

.services .container .boxes .box .text p {
  color: #222;
  padding: 0 10px;
}

.services .container .boxes .box:nth-child(1) .text h3 {
  color: rgba(227 172 0 / 100%);
}

.services .container .boxes .box:nth-child(2) .text h3 {
  color: rgba(255 153 128 / 100%);
}

.services .container .boxes .box:nth-child(3) .text h3 {
  color: rgba(78 197 227 / 100%);
}

.services .container .boxes .box:nth-child(4) .text h3 {
  color: rgba(149 149 255 / 100%);
}

.skeleton {
  position: relative;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  animation: skeleton 1s infinite linear;
  -webkit-animation: skeleton 1s infinite reverse;
  background-size: 200%;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}


@media (max-width: 1000px) {
  .services .container .boxes {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 25px;
  }
}

@media (max-width: 500px) {
  .services .container .boxes {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}

/* End Services */
/* Start Train */
.training {
  background-color: var(--section-background);
}



.training .container .wrapper {
  margin: var(--margin);
  overflow-x: auto;
}

.training .container .wrapper table {
  width: 100%;
  min-width: 500px;
  text-align: center;
  border-spacing: 0;
}

.training .container .wrapper table th {
  padding: 4px 8px;
  width: 150px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
}

.training .container .wrapper table td {
  padding: 10px 15px;
  font-weight: 500;
}

.training .container .wrapper table td.pet {
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
}

.training .container .wrapper table td {
  color: #222;
}

.training .container .wrapper table td.dog {
  background-color: rgba(255 153 128 / 20%);
}

.training .container .wrapper table td.cat {
  background-color: rgba(78 197 227 / 20%);
}

.training .container .wrapper table td.other {
  background-color: rgba(149 149 255 / 20%);
}

.training .container .wrapper table th,
.training .container .wrapper table td {
  border: 1px solid #cccccc79;
}

.training .container .wrapper table .divide h3 {
  margin: 5px 0;
}

.training .container .team {
  margin: 200px 0;
}

.training .container .team .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

@media (max-width: 500px) {
  .training .container .team .cards {
    gap: 60px;
  }
}

.training .container .team .cards .card {
  height: 230px;
  background-color: #fff;
  text-align: center;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  position: relative;
}

.training .container .team .cards .card:nth-child(1) {
  background-color: rgba(255 153 128 / 20%);
}

.training .container .team .cards .card:nth-child(1) h3 {
  color: rgba(255 153 128 / 100%);
}

.training .container .team .cards .card:nth-child(2) {
  background-color: rgba(78 197 227 / 20%);
}

.training .container .team .cards .card:nth-child(2) h3 {
  color: rgba(78 197 227 / 100%);
}

.training .container .team .cards .card:nth-child(3) {
  background-color: rgba(149 149 255 / 20%);
}

.training .container .team .cards .card:nth-child(3) h3 {
  color: rgba(149 149 255 / 100%);
}

.training .container .team .cards .card img {
  position: absolute;
  left: 50%;
  bottom: 80%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
}

.training .container .team .cards .card .text {
  margin-top: 80px;
}

.training .container .team .cards .card .text h3 {
  margin: 0 0 8px;
  font-size: 20px;
}

.training .container .team .cards .card .text p {
  color: #222;
  font-weight: 500;
}

.training .container .team .cards .card .icon {
  margin-top: 30px;
}

.training .container .team .cards .card .icon ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.training .container .team .cards .card .icon ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  background-color: #fff;
}



.training .container .team .cards .card .icon ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 18px;
}

.training .container .team .cards .card .icon ul li:nth-child(1) a {
  color: rgba(59 89 152 / 100%);
}

.training .container .team .cards .card .icon ul li:nth-child(2) a {
  color: rgba(29 161 242 / 100%);
}

.training .container .team .cards .card .icon ul li:nth-child(3) a {
  color: rgba(88 81 219 / 100%);
}

.training .container .team .cards .card .icon ul li:nth-child(4) a {
  color: rgba(230 0 35 / 100%);
}

/* End Train */
/* Start About */
.about {
  background-color: var(--section-background);
}

.about .container .wrapper {
  margin: var(--margin);
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.about .container .wrapper .text {
  height: 100%;
  width: 50%;
}

.about .container .wrapper .text p {
  color: var(--p-color);
}

.about .container .wrapper .text ul {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 25px 0;
  gap: 20px;
}

.about .container .wrapper .text ul li {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  background-color: var(--text-color);
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}

.about .container .wrapper .text ul li:hover {
  background-color: var(--hover-color);
}

.about .container .wrapper .text ul li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
}



.about .container .wrapper .img {
  height: 250px;
  width: 250px;
  border: 1px dashed #ccc;
  padding: 10px 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.about .container .wrapper .img img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (max-width: 500px) {
  .about .container .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about .container .wrapper .text {
    width: 100%;
    text-align: center;
  }

  .about .container .wrapper .text ul {
    justify-content: center;
  }

  .about .container .wrapper .img {
    width: 100%;
    height: 100%;
  }
}



/* End About */
/* Start Contact */
.contact {
  background-color: rgba(88 81 219 / 100%);
}

.contact .header h1 {
  color: #fff;
}

.contact .header i {
  color: #fff;
}

.contact .container .wrapper {
  width: 90%;
  margin: var(--margin);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 15px 12px;
}

.contact .container .wrapper .up-side {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .container .wrapper .up-side ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .container .wrapper .up-side ul li {
  padding: 12px 0px;
  width: 200px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}

.contact .container .wrapper .up-side ul li:hover {
  background-color: rgba(255 153 128 / 100%);
}

.contact .container .wrapper .up-side ul li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.contact .container .wrapper .down-side {
  background-color: #f5f5f5;
  width: 100%;
  padding: 25px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-top: 12px;
}

.contact .container .wrapper .down-side .info {
  display: flex;
  justify-content: space-around;
}


.contact .container .wrapper .down-side .info .left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .container .wrapper .down-side .info .left-side .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.contact .container .wrapper .down-side .info .left-side .input .input-info {
  position: relative;
}

.contact .container .wrapper .down-side .info .left-side .input .input-info::after {
  position: absolute;
  font-family: 'fontawesome';
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 14px;
}

.contact .container .wrapper .down-side .info .left-side .input:nth-child(1) .input-info::after {
  content: '\f007';
}

.contact .container .wrapper .down-side .info .left-side .input:nth-child(2) .input-info::after {
  content: '\f0e0';
}

.contact .container .wrapper .down-side .info .left-side .input:nth-child(3) .input-info::after {
  content: '\f3cd';
}

.contact .container .wrapper .down-side .info .left-side .input span {
  color: var(--text-color);
  font-weight: 18px;
  font-weight: 600;
}

.contact .container .wrapper .down-side .info .left-side .input p {
  font-size: 14px;
  text-align: left;
  color: var(--p-color);
}

.contact .container .wrapper .down-side .info .left-side .input input {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 0 40px;
  color: var(--text-color);
}

.contact .container .wrapper .down-side .info .left-side .input input:focus {
  border-color: rgba(255 153 128 / 100%);
}

.contact .container .wrapper .down-side .info .right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.contact .container .wrapper .down-side .info .right-side .input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}


.contact .container .wrapper .down-side .info .right-side .input span {
  color: var(--text-color);
  font-weight: 18px;
  font-weight: 600;
}

.contact .container .wrapper .down-side .info .right-side .input input {
  width: 100%;
  height: 60px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 0 40px;
  padding-bottom: 150px;
  color: var(--text-color);
}

.contact .container .wrapper .down-side input {
  width: 100%;
  height: 35px;
  padding: 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: none;
  background-color: rgba(255 153 128 / 100%);
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transtion);
  -webkit-transition: var(--transtion);
  -moz-transition: var(--transtion);
  -ms-transition: var(--transtion);
  -o-transition: var(--transtion);
}

.contact .container .wrapper .down-side input:hover {
  background-color: rgba(88 81 219 / 100%);
}

@media(max-width: 500px) {
  .contact .container .wrapper .up-side ul {
    flex-direction: column;
  }

  .contact .container .wrapper .up-side ul li {
    width: 100%;
  }

  .contact .container .wrapper .down-side {
    flex-direction: column;
  }

  .contact .container .wrapper .down-side .info {
    flex-direction: column;
    gap: 30px;
  }


}

/* End Contact */
/* Start Footer */
footer {
  text-align: center;
  padding: 25px 0px;
  background-color: var(--section-background);
}

footer .logo h2 {
  color: var(--text-color);
  font-size: 28px;
}

footer .info {
  margin: 12px 0;
}

footer .info p {
  color: var(--p-color);
  color: #222;
  font-size: 14px;
  font-weight: 500;
}

footer .info p label,
footer .info p span {
  color: var(--text-color);
  font-size: 18px;
}

/* End Footer */